<h2>Profil bearbeiten</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, required: true, autofocus: true, label: 'Vorname' %>
    <%= f.input :last_name, required: true, label: 'Nachname' %>
    <%= f.input :name, required: true, label: 'Spitzname' %>
    <%= f.input :email, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Bestätigung ausstehend für: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leer lassen, falls du das Passwort nicht ändern willst", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<h3>Account löschen</h3>

<p>Unglücklich? <%= link_to "Account löschen", registration_path(resource_name), data: { confirm: t(:sure?) }, method: :delete %></p>

<%= link_to "Zurück", :back %>
