<div id="entry_button_area">

  <% if user_signed_in? and current_user.is_moderator? %>
    <% if not @entry.published %>
      <div class="btn-group btn-space">
        <%= link_to 'Veröffentlichen', {:controller => :entries, :action => :publish, :entry => @entry.id}, :method => :post, class: "btn btn-danger btn-space"%>
      </div>
    <% end %>
  <% end %>

  <div class="btn-group btn-space">
    <button onclick="window.history.back();" type="button" class="btn btn-primary">Zurück</button>
  </div>
  <div class="btn-group btn-space">
    <%= link_to entry_path(@entry, :format => 'pdf'), class: "btn btn-primary btn-space" do %>
        <span class="glyphicon glyphicon-print"></span> PDF
    <% end %>
  </div>

  <div class="btn-group btn-space">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Verwenden als
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'Einleitung', {:controller => :entries, :action => :plan, :entry => @entry.id, :do => 'add_start'}, :method => :post %></li>
      <li><%= link_to 'Hauptteil', {:controller => :entries, :action => :plan, :entry => @entry.id, :do => 'add_main'}, :method => :post %></li>
      <li><%= link_to 'Schluss', {:controller => :entries, :action => :plan, :entry => @entry.id, :do => 'add_end'}, :method => :post %></li>
    </ul>
  </div>
  <div class="btn-group btn-space">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Ändern
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'Bearbeiten', edit_entry_path(@entry) %></li>
      <li><%= link_to 'Löschen', entry_path(@entry),
            method: :delete,
            data: { confirm: 'Soll dieser Eintrag wirklich gelöscht werden?' } %></li>
    </ul>
  </div>

</div>