<div class="entry_button_area text-right">

  <% if user_signed_in? and current_user.is_moderator? %>
    <% if not @entry.published %>
      <div class="btn-group btn-space">
        <%= link_to 'Veröffentlichen', publish_entry_path(@entry), method: :post, class: "btn btn-danger btn-space"%>
      </div>
    <% end %>
    <% if @entry.delete_comment != nil %>
      <div class="btn-group btn-space">
        <%= link_to 'Löschen', destroy_final_entry_path(@entry), method: :post, class: "btn btn-danger btn-space"%>
        <%= link_to 'Behalten', keep_entry_path(@entry), method: :post, class: "btn btn-success btn-space"%>
      </div>
    <% end %>
  <% end %>

  <div class="btn-group btn-space">
    <button onclick="window.history.back();" type="button" class="btn btn-primary">Zurück</button>
  </div>
  <div class="btn-group btn-space">
    <%= link_to entry_path(@entry, :format => 'pdf'), class: "btn btn-primary btn-space" do %>
        <span class="glyphicon glyphicon-print"></span> PDF
    <% end %>
  </div>

  <div class="btn-group btn-space">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Verwenden als
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'Einleitung', plan_entry_path(@entry, do: 'add_start'), method: :post %></li>
      <li><%= link_to 'Hauptteil', plan_entry_path(@entry, do: 'add_main'), method: :post %></li>
      <li><%= link_to 'Schluss', plan_entry_path(@entry, do: 'add_end'), method: :post %></li>
    </ul>
  </div>
  <div class="btn-group btn-space">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Ändern
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'Bearbeiten', edit_entry_path(@entry) %></li>
      <li><a href="#" data-toggle="modal" data-target="#delete-modal">Löschen beantragen</a></li>
    </ul>
  </div>

</div>

<%= form_tag(url_for(controller: "entries", action: "destroy"), method: "delete") do %>
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Löschung eines Eintrages beantragen</h4>
        </div>
        <div class="modal-body">
          <p>Bitte gib einen Grund an, warum der Eintrag gelöscht werden soll. Die Moderatoren werden deinen Antrag prüfen und gegebenenfalls den Eintrag entfernen.</p>
          <%= label_tag(:hint, "Löschgrund:") %>
          <%= text_field_tag(:hint, '', size: 75) %>
          <i>Beispiel: Fast gleicher Eintrag ist bereits unter dem Namen XY vorhanden.</i>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          <%= submit_tag("Löschen beantragen", class: "btn btn-danger") %>
        </div>
      </div>
    </div>
  </div>
<% end %>