<%= simple_form_for @entry do |f| %>
    <div class="row">
        <%= f.input :title, label: 'Titel', wrapper_html: { class: "col-sm-6" } %>
        <%= f.input :title_other, label: 'Alternative Titel', hint: 'durch Komma getrennt', wrapper_html: { class: "col-sm-6" } %>
    </div>

    <%= f.input :description, label: 'Spiel-Beschreibung' %>

    <div class="row">
        <%= f.input :material, label: 'Material', wrapper_html: { class: "col-sm-6" } %>
        <%= f.input :preparation, label: 'Vorbereitungen', wrapper_html: { class: "col-sm-6" } %>
    </div>

    <%= f.input :keywords, as: :string, label: 'Stichwörter', hint: 'durch Komma getrennt' %>
    <%= f.input :remarks, label: 'Bemerkungen' %>

    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <label>Geeignet als:</label>
        <%= f.input :part_start, label: 'Einleitung' %>
        <%= f.input :part_main, label: 'Hauptteil' %>
        <%= f.input :part_end, label: 'Schluss' %>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label>Spielart:</label>
        <%= f.input :act_active, label: 'Aktiv' %>
        <%= f.input :act_calm, label: 'Ruhig' %>
        <%= f.input :act_creative, label: 'Kreativ' %>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label>Spielbar:</label>
        <%= f.input :indoors, label: 'Drinnen' %>
        <%= f.input :outdoors, label: 'Draussen' %>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label>Wetter:</label>
        <%= f.input :weather_snow, label: 'Schnee' %>
        <%= f.input :weather_rain, label: 'Regen' %>
        <%= f.input :weather_sun, label: 'Sonne' %>
      </div>
    </div>

  <%= f.input :group_size, label: 'Gruppengrösse', as: :slider, min: '2', max: '100', unit: 'Kinder' %>
  <%= f.input :age, label: 'Alter', as: :slider, min: '5', max: '99', unit: 'Jahre' %>
  <%= f.input :time, label: 'Zeitaufwand', as: :slider, min: '5', max: '180', setter: 'slider_set_time' %>

  <%= f.input :independent, :as => :hidden, :input_html => {:value => '1'} %>
  <%= f.button :submit, 'Speichern' %>

<% end %>

<script>init_slider();</script>
<script>
    $('#entry_description').wysihtml5({
        locale: "de-DE",
        toolbar: {
            "font-styles": true,    //Font styling, e.g. h1, h2, etc. Default true
            "emphasis": true,       //Italics, bold, etc. Default true
            "lists": true,          //(Un)ordered lists, e.g. Bullets, Numbers. Default true
            "html": false,          //Button which allows you to edit the generated HTML. Default false
            "link": false,          //Button to insert a link. Default true
            "image": false,         //Button to insert an image. Default true,
            "color": true,          //Button to change color of font
            "blockquote": false,    //Blockquote
            "size": "sm"            //default: none, other options are xs, sm, lg
        }
    });
</script>
<script>
    $.getJSON("<%= tags_entries_url(format: :json) %>", function (data) {
        var tags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: $.map(data, function (tag) { return {name: tag}; })
        });
        tags.initialize();
        $('#entry_keywords').tagsinput({
            confirmKeys: [13, 32, 44],
            trimValue: true,
            typeaheadjs: {
                name: 'tags',
                displayKey: 'name',
                valueKey: 'name',
                source: tags.ttAdapter()
            }
        });
    });
</script>