<div id="filterrific_results">

  <table class="table result-table">
    <thead>
      <tr>
        <th>Name</th>
        <th class="hidden-xs">Beschreibung</th>
      </tr>
    </thead>

    <% entries.each do |entry| %>
      <tr>
        <td><%= link_to(entry.title, entry_path(entry)) %></td>
        <td class="hidden-xs"><%= sanitize(entry.description[0..200], :tags=>[]) %></td>
      </tr>
      <% entry.programs.each do |program| %>
        <% if not @shown_programs.include? program %>
          <tr class="active">
            <td><%= link_to(program.title, program_path(program)) %></td>
            <td class="hidden-xs">Gruppenstunden-Vorschlag mit dem Spiel "<%= entry.title %>"</td>
          </tr>
          <% @shown_programs << program %>
        <% end %>
      <% end %>
    <% end %>

  </table>

  <% if entries.empty? %>
    <p>Leider keine Ergebnisse gefunden</p>
  <% end %>

  <%= will_paginate entries %>

</div>