<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Autor</th>
      <th>Status</th>
    </tr>
  </thead>

  <% @entries_pub.each do |entry| %>
    <tr>
      <td><%= link_to(entry.title, entry_path(entry)) %></td>
      <td><%= entry.user.name %></td>
      <td><%= if entry.edited_entry == nil then 'Neuer Eintrag' else 'Bearbeiteter Eintrag' end %></td>
    </tr>
  <% end %>
  <% @entries_del.each do |entry| %>
    <td><%= link_to(entry.title, entry_path(entry)) %></td>
    <td><%= entry.user.name %></td>
    <td>Zum löschen markiert (Grund: <%= entry.delete_comment %>)</td>
  <% end %>
  <% @programs_pub.each do |program| %>
    <tr>
      <td><%= link_to(program.title, program_path(program)) %></td>
      <td><%= program.user.name %></td>
      <td>Neue Gruppenstunde</td>
    </tr>
  <% end %>
  <% @programs_edit.each do |program| %>
    <tr>
      <td><%= link_to(program.title, program_path(program)) %></td>
      <td><%= program.user.name %></td>
      <td>Bearbeiteter Titel</td>
    </tr>
  <% end %>
  <% @program_entry_del.each do |program_entry| %>
    <td><%= link_to(program_entry.entry.title, program_path(program_entry.program)) %></td>
    <td></td>
    <td>Zum entfernen von Grustu "<%= program_entry.program.title %>" markiert (Grund: <%= program_entry.delete_comment %>)</td>
  <% end %>
  <% @programs_del.each do |program| %>
    <td><%= link_to(program.title, program_path(program)) %></td>
    <td><%= program.user.name %></td>
    <td>Zum löschen markiert (Grund: <%= program.delete_comment %>)</td>
  <% end %>

</table>