<div class="row">
  <div class="col-sm-4">
    <h1>
      <%= @entry.title %><br>
      <small><%= @entry.title_other %></small>
    </h1>
  </div>
  <div class="col-sm-7">
    <div id="entry_button_area">
      <button onclick="window.history.back();" type="button" class="btn btn-primary">Zurück</button>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Verwenden als
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to 'Einleitung', {:controller => :entries, :action => :plan, :entry => @entry.id, :part => 'start'}, :method => :post %></li>
          <li><%= link_to 'Hauptteil', {:controller => :entries, :action => :plan, :entry => @entry.id, :part => 'main'}, :method => :post %></li>
          <li><%= link_to 'Schluss', {:controller => :entries, :action => :plan, :entry => @entry.id, :part => 'end'}, :method => :post %></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Ändern
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to 'Bearbeiten', edit_entry_path(@entry) %></li>
          <li><%= link_to 'Löschen', entry_path(@entry),
                method: :delete,
                data: { confirm: 'Soll dieser Eintrag wirklich gelöscht werden?' } %></li>
        </ul>
      </div>
      <button type="button" class="btn btn-primary">Drucken</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    
    <h2>Beschreibung</h2>
    <p><%= @entry.description.html_safe %></p>

    <% if not @entry.material.empty? %>
      <h2>Material</h2>
      <ul>
        <% @entry.material.split(/\r?\n/).each do |t| %>
          <li><%= "#{t}" %></li>
        <% end %>
      </ul>
    <% end %>

    <% if not @entry.remarks.empty? %>
      <h2>Bemerkungen</h2>
      <p><%= @entry.remarks %></p>
    <% end %>

    <% if not @entry.preparation.empty? %>
      <h2>Vorbereitungen</h2>
      <p><%= @entry.preparation %></p>
    <% end %>

  </div>
  <div class="col-sm-3">
    
    <h3>Geeignet als</h3>
    <p>
      <%= checked_glyphicons(@entry.part_start) %> Einleitung<br>
      <%= checked_glyphicons(@entry.part_main)  %> Hauptteil<br>
      <%= checked_glyphicons(@entry.part_end)   %> Schluss
    </p>

    <h3>Spielbar</h3>
    <p>
      <%= checked_glyphicons(@entry.indoors)  %> Drinnen<br>
      <%= checked_glyphicons(@entry.outdoors) %> Draussen<br>
    </p>

    <h3>Wetter</h3>
    <p>
      <%= checked_glyphicons(@entry.weather_snow) %> Schnee<br>
      <%= checked_glyphicons(@entry.weather_rain) %> Regen<br>
      <%= checked_glyphicons(@entry.weather_sun)  %> Sonne<br>
    </p>

    <h3>Spielart</h3>
    <p>
      <%= checked_glyphicons(@entry.act_active)   %> Aktiv<br>
      <%= checked_glyphicons(@entry.act_calm)     %> Ruhig<br>
      <%= checked_glyphicons(@entry.act_creative) %> Kreativ<br>
    </p>

    <h3>Gruppengrösse</h3>
    <p>
      <%= @entry.group_size_min %> - <%= @entry.group_size_max %> Kinder
    </p>

    <h3>Alter</h3>
    <p>
      <%= @entry.age_min %> - <%= @entry.age_max %> Jahre
    </p>

    <h3>Zeit</h3>
    <p>
      <%= print_time(@entry.time_min) %> - <%= print_time(@entry.time_max) %>
    </p>

  </div>
</div>