<h1><%= @entry.title %> <small>(<%= @entry.title_other %>)</small></h1>

<div class="row">
  <div class="col-sm-9">
    
    <h2>Beschreibung</h2>
    <p><%= @entry.description %></p>

    <h2>Material</h2>
    <ul>
      <% @entry.material.split(/\r?\n/).each do |t| %>
        <li><%= "#{t}" %></li>
      <% end %>
    </ul>

    <h2>Bemerkungen</h2>
    <p><%= @entry.remarks %></p>

    <h2>Vorbereitungen</h2>
    <p><%= @entry.preparation %></p>

  </div>
  <div class="col-sm-3">
    
    <h3>Geeignet als</h3>
    <p>
      <%= checked_glyphicons(@entry.part_start) %> Einleitung<br>
      <%= checked_glyphicons(@entry.part_main)  %> Hauptteil<br>
      <%= checked_glyphicons(@entry.part_end)   %> Schluss
    </p>

    <h3>Spielbar</h3>
    <p>
      <%= checked_glyphicons(@entry.indoors)  %> Drinnen<br>
      <%= checked_glyphicons(@entry.outdoors) %> Draussen<br>
    </p>

    <h3>Wetter</h3>
    <p>
      <%= checked_glyphicons(@entry.weather_snow) %> Schnee<br>
      <%= checked_glyphicons(@entry.weather_rain) %> Regen<br>
      <%= checked_glyphicons(@entry.weather_sun)  %> Sonne<br>
    </p>

    <h3>Spielart</h3>
    <p>
      <%= checked_glyphicons(@entry.act_active)   %> Aktiv<br>
      <%= checked_glyphicons(@entry.act_calm)     %> Ruhig<br>
      <%= checked_glyphicons(@entry.act_creative) %> Kreativ<br>
    </p>

    <h3>Gruppengrösse</h3>
    <p>
      <%= @entry.group_size_min %> - <%= @entry.group_size_max %> Kinder
    </p>

    <h3>Alter</h3>
    <p>
      <%= @entry.age_min %> - <%= @entry.age_max %> Jahre
    </p>

    <h3>Zeit</h3>
    <p>
      <%= @entry.time_min %> - <%= @entry.time_max %> Minuten
    </p>

  </div>
</div>