<div class="row">
  <div class="col-sm-4">
    <h1>
      <%= @entry.title %><br>
      <small><%= @entry.title_other %></small>
    </h1>
  </div>
  <div class="col-sm-7 hidden-xs">
    <%= render 'buttons' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <%= render 'description' %>

    <div id="attachments">
        <h2>Anhänge</h2>
        <% @entry.attachments.order(:file_content_type).each do |attachment| %>

          <div class="attachment">
              <%= link_to attachment.file.url do %>
                <% if attachment.file.content_type =~ /\Aimage\/.*\z/ %>
                    <%= image_tag attachment.file.url(:thumb), height: '100' %>
                <% else %>
                    <span class="glyphicon glyphicon-download-alt"></span>
                <% end %>
              <% end %>
              <%= attachment.file.original_filename %>
          </div>
        <% end %>
    </div>
  </div>
  <div class="col-sm-3">
    <%= render 'details' %>
    <h3>Bewertung</h3>
    <p class='rating-area'>
      <%= link_to({:controller => :entries, :action => :rate, :entry => @entry.id, :rating => '1'}, {:method => :post}) do %>
        <span class="glyphicon glyphicon-star<%= rating_comp(@entry.rating, 0.5) %>"></span>
      <% end %>
      <%= link_to({:controller => :entries, :action => :rate, :entry => @entry.id, :rating => '2'}, {:method => :post}) do %>
        <span class="glyphicon glyphicon-star<%= rating_comp(@entry.rating, 1.5) %>"></span>
      <% end %>
      <%= link_to({:controller => :entries, :action => :rate, :entry => @entry.id, :rating => '3'}, {:method => :post}) do %>
        <span class="glyphicon glyphicon-star<%= rating_comp(@entry.rating, 2.5) %>"></span>
      <% end %>
      <%= link_to({:controller => :entries, :action => :rate, :entry => @entry.id, :rating => '4'}, {:method => :post}) do %>
        <span class="glyphicon glyphicon-star<%= rating_comp(@entry.rating, 3.5) %>"></span>
      <% end %>
      <%= link_to({:controller => :entries, :action => :rate, :entry => @entry.id, :rating => '5'}, {:method => :post}) do %>
        <span class="glyphicon glyphicon-star<%= rating_comp(@entry.rating, 4.5) %>"></span>
      <% end %><br>
      <% if @entry.ratings.exists? %>
        <%= @entry.rating %> Sterne
        (<%= @entry.ratings.count %>
        <%= if@entry.ratings.count == 1 then 'Bewertung' else 'Bewertungen' end %>)
      <% else %>
        Noch keine Bewertungen
      <% end %>
    </p>
  </div>
</div>

<div class="row visible-xs-block">
  <div class="col-xs-12">
    <%= render 'buttons' %>
  </div>
</div>