<%= render partial: 'programs/entries', locals: {title: 'Einstieg',  start_order: 100, end_order: 199} %>
<%= render partial: 'programs/entries', locals: {title: 'Hauptteil', start_order: 200, end_order: 299} %>
<%= render partial: 'programs/entries', locals: {title: 'Ausstieg',  start_order: 300, end_order: 399} %>


<% if not @combined.material.empty? %>
  <h2>Material</h2>
  <ul>
    <% @combined.material.flatten.uniq.each do |t| %>
      <li><%= "#{t}" %></li>
    <% end %>
  </ul>
<% end %>

<% if not @combined.remarks.empty? %>
  <h2>Bemerkungen</h2>
    <ul>
      <% @combined.remarks.each do |t| %>
          <li><%= t %></li>
      <% end %>
    </ul>
<% end %>

<% if not @combined.preparation.empty? %>
  <h2>Vorbereitungen</h2>
    <ul>
      <% @combined.preparation.each do |t| %>
          <li><%= t %></li>
      <% end %>
    </ul>
<% end %>