<div class="program-entries">
  <div class="row">
    <div class="col-xs-9"><h2><%= title %></h2></div>
    <div class="col-xs-3 text-right add-button"><%= render partial: 'add_button', locals: {order: start_order} if @edit and (not params[:format] == 'pdf') %></div>
  </div>

  <% @program.program_entries.order(:order).where(order: (start_order..end_order)).each do |pe| %>
    <% if pe.entry.published or (user_signed_in? and current_user.is_moderator?) or (pe.entry.user == current_user) %>
      <div class="row">
        <div class="col-xs-9"><h3><%= link_to_if (not params[:format] == 'pdf'), pe.entry.title, pe.entry %></h3></div>
        <div class="col-xs-3 text-right move-buttons">
          <% if @edit and (not params[:format] == 'pdf') %>
            <%= link_to move_up_program_entry_path(pe), method: :post do %><span class="glyphicon glyphicon-arrow-up"/><% end %>
            <%= link_to move_down_program_entry_path(pe), method: :post do %><span class="glyphicon glyphicon-arrow-down"/><% end %>
            <% if @program.published %>
              <a href="#" data-toggle="modal" data-target="#delete-modal-entry" data-id="<%= pe.id %>"><span class="glyphicon glyphicon-remove"/></a>
            <% else %>
              <%= link_to program_entry_path(pe), method: :delete,
                data: { confirm: 'Soll dieser Eintrag wirklich entfernt werden?' } do %>
                <span class="glyphicon glyphicon-remove"/><% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <p><%= pe.entry.description.html_safe %></p>
      <% if user_signed_in? and current_user.is_moderator? %>
        <% if pe.delete_comment != nil %>
          <div class="btn-group btn-space">
            <%= link_to 'Entfernen', destroy_final_program_entry_path(pe), method: :post, class: "btn btn-danger btn-space"%>
            <%= link_to 'Behalten', keep_program_entry_path(pe), method: :post, class: "btn btn-success btn-space"%>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% unless request.format.to_sym == :pdf %>
  <%= form_tag(url_for(controller: "program_entries", action: "destroy"), method: "delete") do %>
    <div class="modal fade" id="delete-modal-entry" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Entfernung eines Eintrages beantragen</h4>
          </div>
          <div class="modal-body">
            <p>Bitte gib einen Grund an, warum der Eintrag aus dieser Gruppenstunde entfernt werden soll. Die Moderatoren werden deinen Antrag prüfen und gegebenenfalls den Eintrag entfernen.</p>
            <p>Hinweis: Der Eintrag selbst wird damit nicht gelöscht, er wird nur nicht mehr in dieser Gruppenstunde angezeigt.</p>
            <%= label_tag(:hint, "Löschgrund:") %>
            <%= text_field_tag(:hint, '', size: 75) %>
            <%= hidden_field_tag(:program_entry_id, '') %>
            <i>Beispiel: Ich habe einen passenderen Eintrag hinzugefügt</i>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
            <%= submit_tag("Entfernung beantragen", class: "btn btn-danger") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <script>init_delete_modal_program_entry()</script>
<% end %>
