<div class="row">
  <div class="col-sm-4">
    <h1>
      <%= @program.title %><br>
    </h1>
  </div>
  <div class="col-sm-7 hidden-xs">
    <%= render 'buttons' %>
  </div>

</div>


<div class="row">
  <div class="col-sm-9">

    <% if @plan %>
      <%= render 'description_plan' %>
    <% else %>
      <%= render 'description' %>
    <% end %>

    <%= render 'attachments' unless @combined.attachments.empty? %>
    <%= render  :partial => 'comments/create',
                :locals => { res: @program } %>

  </div>
  <div class="col-sm-3">
    <%= render 'details' %>

    <% if not @plan %>
      <h3>Bewertung</h3>
      <p class='rating-area'>
        <%= link_to({:controller => :programs, :action => :rate, :program => @program.id, :rating => '1'}, {:method => :post}) do %>
          <span class="glyphicon glyphicon-star<%= rating_comp(@program.rating, 0.5) %>"></span>
        <% end %>
        <%= link_to({:controller => :programs, :action => :rate, :program => @program.id, :rating => '2'}, {:method => :post}) do %>
          <span class="glyphicon glyphicon-star<%= rating_comp(@program.rating, 1.5) %>"></span>
        <% end %>
        <%= link_to({:controller => :programs, :action => :rate, :program => @program.id, :rating => '3'}, {:method => :post}) do %>
          <span class="glyphicon glyphicon-star<%= rating_comp(@program.rating, 2.5) %>"></span>
        <% end %>
        <%= link_to({:controller => :programs, :action => :rate, :program => @program.id, :rating => '4'}, {:method => :post}) do %>
          <span class="glyphicon glyphicon-star<%= rating_comp(@program.rating, 3.5) %>"></span>
        <% end %>
        <%= link_to({:controller => :programs, :action => :rate, :program => @program.id, :rating => '5'}, {:method => :post}) do %>
          <span class="glyphicon glyphicon-star<%= rating_comp(@program.rating, 4.5) %>"></span>
        <% end %><br>
        <% if @program.ratings.exists? %>
          <%= @program.rating %> Sterne
          (<%= @program.ratings.count %>
          <%= if@program.ratings.count == 1 then 'Bewertung' else 'Bewertungen' end %>)
        <% else %>
          Noch keine Bewertungen
        <% end %>
      </p>
    <% end %>
    
  </div>
</div>

<div class="row visible-xs-block">
  <div class="col-xs-12">
    <%= render 'buttons' %>
  </div>
</div>