<h1>Edit <%= @user.name %></h1>

<%= simple_form_for @user do |f| %>
    <%= f.error_notification %>

    <%= f.input :role, include_blank: false %>
    <%= f.button :submit, "Update" %>
<% end %>

<%= link_to "Back", :back %>
