<div id="start-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#start-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#start-carousel" data-slide-to="1"></li>
    <li data-target="#start-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("carousel/1.jpg") %>
    </div>
    <div class="item">
      <%= image_tag("carousel/2.jpg") %>
    </div>
    <div class="item">
      <%= image_tag("carousel/3.jpg") %>
    </div>
  </div>

  <a class="left carousel-control" href="#start-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Zurück</span>
  </a>
  <a class="right carousel-control" href="#start-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Weiter</span>
  </a>
</div>

<div class="jumbotron">
    <div class="row">
      <div class="col-sm-6 text-center button-start-area">
          <%= link_to 'Suchen', entries_path, class: "btn btn-primary btn-xlarge"%><br/>
          Nach einer Idee suchen
      </div>
      <div class="col-sm-6 text-center button-start-area">
          <%= link_to 'Erstellen', new_entry_path, class: "btn btn-primary btn-xlarge"%><br/>
          Selber Einträge erstellen
      </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-8">

    <h1>News</h1>
    <% @news.each do |news| %>
      <h2><%= news.title %></h2>
      <p><%= news.text.html_safe %></p>
    <% end %>
    <%= will_paginate @news %>

  </div>

  <div class="col-sm-4">

    <h1>Neueste Gruppenstunden</h1>
    <ul>
      <% @entries.each do |entry| %>
        <li><%= link_to(entry.title, entry_path(entry)) %></li>
      <% end %>
    </ul>

    <h1>Links</h1>
    <ul>
      <li>Schub</li>
      <li>Jubla</li>
      <li>Grustu.ch</li>
      <li>Berikon</li>
    </ul>

  </div>
</div>