<!DOCTYPE html>
<html>

  <head>
    <title>Spika</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track' => true, debug: false %>
    <%= javascript_include_tag 'vendor', 'data-turbolinks-track' => true, debug: false %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <div class="container">
      <%= render 'layouts/messages' %>

      <%= yield %>
    </div>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>

</html>
